<footer id="Contacts">
    <div class="wrapper">
        <div class="footer-container">
            <div class="footerleft">
                <div class="footer-logo logo">HealthyLife</div>
                    <div class="social">
                        <a href="#"><i class="fa-brands fa-twitter fa-xl" style="color: #606636;"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram fa-xl" style="color: #606636;"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook fa-xl" style="color: #606636;"></i></a>
                    </div>
            </div>
            <div class="footerright">
                <div class="footer-content">
                    <h3>Navigation</h3>
                    <ul class="footer-nav">
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#About">About</a></li>
                        <li><a href="#Products">Products</a></li>
                        <li><a href="Contacts">Contacts</a></li>
                    </ul>
                </div>
                <div class="footer-content">
                    <h3>Contacts Us</h3>
                    <ul>
                        <li>HealthyLife</li>
                        <li>〒000-0000</li>
                        <li>東京都○○区○○</li>
                        <li>TEL 000-000-0000</li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="copyright">©2023 Healthylife.com</p>
    </div>
</footer>