<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://kit.fontawesome.com/85ee581b2c.js" crossorigin="anonymous"></script>
    <title>HealthyLife</title>
</head>
<body>
    <header id="Home">
        <div class="header-color fadeleftTriggeron"></div>
        <div class="wrapper">
            <nav class="main-nav">
                <div class="header-logo logo">HealthyLife</div>
                <ul class="menu">
                    <li ><a href="#Home" class="menu-main">Home</a></li>
                    <li><a href="#About" class="menu-main">About</a></li>
                    <li><a href="#Products" class="menu-main">Products</a></li>
                    <li><a href="#Contacts" class="menu-main">Contacts</a></li>
                    <% if(locals.isLoggedIn){ %>
                        <li class="social">
                            <p>ようこそ、<%= locals.username %>さん</p>
                            <a href="/logout" class="btn login">ログアウト</a>
                        </li>
                    <% } else { %>
                        <li class="social">
                            <a href="/login" class="btn login">ログイン</a>
                            <a href="/signup" class="btn login">登録</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
            <!-- end of desktop nav -->
            <div class="mainvisual">
                <div class="mainleft fadeleftTriggeron">
                    <div>
                        <p>
                            HealthyLife があなたをサポートします。
                        </p>
                        <h2>健康的な生活を送り、<br>
                            豊かな人生を。</h2>
                    </div>
                    <div><a href="#shop_now" class="btn shop"><i class="fa-solid fa-cart-shopping"></i> 今すぐ購入</a></div>
                </div>
                <div class="mainright">
                    <img src="/images/main.png" alt="">
                </div>
            </div>
        </div>
    </header>
    <div class="openbtn"><span></span><span></span><span></span></div>
    <nav id="g-nav">
    <ul>
    <li><a href="#Home">Home</a></li> 
    <li><a href="#About">About</a></li> 
    <li><a href="#Products">Products</a></li> 
    <li><a href="#Contacts">Contacts</a></li> 
    <% if(locals.isLoggedIn){ %>
        <li><p>ようこそ、<%= locals.username %>さん</p></li>
        <li><a href="/logout">ログアウト</a>
      <% } else { %>
        <li><a href="/login">ログイン</a></li>
        <li><a href="/signup">登録</a></li>
      <% } %>
    </ul>
    
    </nav>
    <main>
        <section class="about-us" id="About"> 
            <div class="about-us-color faderightTrigger"></div>
            <div class="wrapper">
                <div class="about-us-container">
                    <div class="heading faderightTrigger">
                        <h2>
                            About Us
                        </h2>
                        <p>
                            HealthyLifeは、健康的なライフスタイルを提案する企業です。
                            商品の提供やコンテンツの配信、相談サービスなどを通じて、人々の健康的な生活をサポートします。
                        </p>
                    </div>
                    <div class="about-us-contents fadeupTrigger">
                        <div class="about-content">
                            <i class="fa-solid fa-utensils fa-2xl" style="color: #606636;"></i>
                            <h3>
                                厳選されたオーガニック食品
                            </h3>
                            <p>
                                HealthyLifeでは、厳選されたオーガニック食品やサプリメントを提供しています。
                                自然な成分で作られた商品は、体に負担をかけずに健康をサポートします。
                            </p>
                        </div>
                        <div class="about-content">
                            <i class="fa-solid fa-video fa-2xl" style="color: #606636;"></i>
                            <h3>
                                トレーニングメニューの配信
                            </h3>
                            <p>
                                HealthyLifeでは、ヨガやストレッチ、トレーニングメニューなどの動画コンテンツを配信しています。
                                いつでもどこでも自宅で手軽に健康管理ができます。
                            </p>
                        </div>
                        <div class="about-content">
                            <i class="fa-solid fa-user-doctor fa-2xl" style="color: #606636;"></i>
                            <h3>
                                健康相談サービス
                            </h3>
                            <p>
                                HealthyLifeでは、専門家による健康相談サービスを提供しています。
                                食事や運動、睡眠、ストレスなど、健康に関する相談に対応します。
                            </p>
                        </div>
                    </div>
                </div>
            </div>  
        </section> 
        <section class="products" id="Products">
            <div class="products-color fadeupTrigger"></div>
            <div class="wrapper">
                <div class="heading fadeupTrigger">
                    <h2>
                        Products
                    </h2>
                    <p>
                        こだわりのオーガニック食品やサプリメントを取り揃え、身体と心の健康をサポート。
                        豊富なラインナップから、あなたに合った商品をお選びください。
                    </p>
                </div>
                <div class="products-contents fadeleftTrigger">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/images/food.png" alt="">
                        </div>
                        <p>
                            オーガニック食品
                        </p>
                    </div>
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/images/sap.png" alt="">
                        </div>
                        <p>
                            オーガニックサプリメント
                        </p>
                    </div>
                    <div class="product-content">
                        <div class="product-img">
                            <img src="/images/tea.png" alt="">
                        </div>
                        <p>
                            オーガニックハーブティー
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="newsltter">
            <div class="wrapper">
                <div class="heading">
                    <h2>
                        Newsltter
                    </h2>
                    <p>
                        HealthyLifeの新商品のご案内や、健康にまつわるお役たち情報などを、発信していきます。メールで最新情報をチェックしてください!
                    </p>
                </div>
                <div class="form-container">
                    <form action="#">
                        <input type="text" placeholder="メールアドレス">
                        <button class="btn submit">登録</button>
                    </form>
                </div>
            </div>
        </section>
        
    </main>
    <%- include('footer'); %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>
</body>
</html>